/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@300&display=swap');

body {
	margin: 0;
}

h1 {
	font-family: "Anton", sans-serif;
	color: white;
	margin: 0px;
	padding-top: 10px;
	font-size: 48px;
	text-align:center;
	letter-spacing: 1.5px;
}

h2 {
	margin-top: 0;
	padding-bottom: 20px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	letter-spacing: 1.5px;
	text-align: center;
	color: white;
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;	
}

main h2 {
	margin: 20px 0 20px 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	letter-spacing: 1.5px;
	text-align: center;
	color: black;
	padding-bottom: 0;
}

main p {
	font-family: 'Josefin Sans', sans-serif;
	padding: 20px;
	font-size: 22px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 20px;
}

img {
	width: 100%;
}

main img {
	border-radius: 50%;
}

ol, ul {
  padding: 8px;
  margin: 6px;
  display: inline-block;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 100px;
/*  width: 100%; */
}

main li {
	width: 100%; 
}

/* Header */

header h1 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

header h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

header nav {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a:link {
  color: white;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
}

header nav ul li a:active {
  color: white;
}

header nav ul li a:visited {
  color: white;
}

header {
	background-color: #0030A1;
	margin-bottom: 40px;
}

/* Footer */

footer {
	background-color: #0030A1;
}

footer a:link {
	color: white;
}

footer a:visited {
	color: white;
}

footer a:active {
	color: white;
}

footer a {
	color: white;
	padding: 5px;
	text-align: center;
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
}

/* Specific Classes */

main .about-me {
	color: white;
}

.bg {
	background-color: #0030A1;
}

/* Groups & Items  (Mobile First) */

.wrapper {
	width: 100%;
/* margin: auto; */
}

.group {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.item {
	flex: 1;
	margin: auto;
	margin-right: 10px;
	margin-left: 10px;
}

.item-double {
	flex: 2;
	width: 100%;
}

/* Form Style */

form {
  position : relative;
  margin : 0 auto;
  padding: 1em;
  box-sizing: border-box;
}

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
  font-family: arial;
}

form input[type=text] {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

form input[type=text]#zip {
  width: 51px;
}

form input[type=email] {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;	
}

form textarea {	
 width: 50%;
 color: #000;
 font-size: 16px;
 margin-bottom: 20px;
}

form input,
form textarea {
 width: 100%;
 margin-bottom: 20px;
}

form button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #000;
    border-radius: 10px;
}

.white-font {
	color: white;
	text-decoration: none;
}

.square-image {
	border-radius: 0;
}

.contact-me {
  color: white;
  padding: 5px;
  text-align: center;
  margin: auto;
}

.project-section {
  text-align: center;
}

.project-section h3 {
	padding: 20px 0 0 0;
}

.project-section p {
	padding: 0;
	margin: 0;
}


Set link colors 
a:link {color: black;}
a:visited {color: black;}
a:hover {color: #0030A1;}
a:active {color: black;}



/* Groups & Items (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }

  .item-double {
  	width: 600px;
  }

/* 	.wrapper {
		width: 60%;
		margin: auto;
file:///C:/Users/julie/OneDrive/Desktop/www/Flexbox-Portfolio/index.html#	}

	.group {
		flex-direction: row;
	}
}

@media all and (min-width: 600px) {
	.wrapper {
		width: 60%;
		margin: auto;
	}

	.group {
		flex-direction: row;
	} */

	header {
	  display: flex;
	  justify-content: space-between;
 	}

	header h1 {
	  margin: 14px 0 14px 28px;
	  padding-top: 0;
	}

	header nav {
    margin-top: 8px;
  }

  ol, ul {
  	width: 80%;
  }
}

/* Google Map iFrame */

iframe {
  width: 100%;
  height: 250px;
}
